index.jade
doctype html
html(lang="en")
  head
    title Ecuador Transport & Travel
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style
      :stylus
        #one
          p
            font-size inherit
    <!--[if lte IE 8]>
    script(src="assets/js/ie/html5shiv.js")
    <![endif]-->
    link(rel="stylesheet" href="assets/css/main.css")
    link(rel="stylesheet" href="application.css")
    <!--[if lte IE 8]>
    link(rel="stylesheet" href="assets/css/ie8.css")
    <![endif]-->
    <!--[if lte IE 9]>
    link(rel="stylesheet" href="assets/css/ie9.css")
    <![endif]-->
  body
    header#header
      h1#logo Ecuador Transport & Travel
      nav#nav
        ul
          li: a(href="#intro") Home
          li: a(href="#one") About Us
          li: a(href="#two") About Me
          li: a(href="#work") Destinations
          li: a(href="#contact") Contact
    section#intro.main.style1.dark.fullscreen
      .content.container(class="75%")
        header(lang="en")
          include:markdown home.en.txt
        header(lang="es")
          include:markdown home.es.txt
         footer
            a.button.style2.down(href="#one") More

    section#one.main.style2.right.dark.fullscreen
      .content.box.style2(lang="en")
        include:markdown about.en.txt
      .content.box.style2(lang="es")
        include:markdown about.es.txt
      a.button.style2.down.anchored(href="#two") Next

    section#two.main.style2.left.dark.fullscreen
      .content.box.style2(lang="en")
        include:markdown programs.en.txt
      .content.box.style2(lang="es")
        include:markdown programs.es.txt
      a#work.button.style2.down.anchored(href="#work") Next

    section#work.main.style3.primary
      .content.container
        header(lang="en")
          include:markdown destinations.en.txt
        header(lang="es")
          include:markdown destinations.es.txt
        .container.gallery(class="75%")
          div(class="row 0% images")
            div(class="6u 12u(mobile)")
              a(href="images/fulls/01.jpg" class="image fit from-left")
                img(src="images/thumbs/01.jpg" title="The Andes" alt="" )
            div(class="6u 12u(mobile)")
              a(href="images/fulls/02.jpg" class="image fit from-right")
                img(src="images/thumbs/02.jpg" title="The Amazon Rain Forest" alt="")
          div(class="row 0% images")
            div(class="6u 12u(mobile)")
              a(href="images/fulls/03.jpg" class="image fit from-left")
                img(src="images/thumbs/03.jpg" title="The Pacific Coast" alt="")
            div(class="6u 12u(mobile)")
              a(href="images/fulls/04.jpg" class="image fit from-right")
                img(src="images/thumbs/04.jpg" title="Cloud Forest" alt="" )
          div(class="row 0% images")
            div(class="6u 12u(mobile)")
              a(href="images/fulls/05.jpg" class="image fit from-left")
                img(src="images/thumbs/05.jpg" title="Bird Watching" alt="" )
            div(class="6u 12u(mobile)")
              a(href="images/fulls/06.jpg" class="image fit from-right")
                img(src="images/thumbs/06.jpg" title="Ecuador by Train" alt="")

    // Contact
    section#contact.main.style3.secondary
      div(class="content container")
        header
          h2 Say Hello.
          p Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
        div(class="box container 75%")
          form(method="post" action="//formspree.io/jjbuckley@gmail.com")
            input(type='text' name='_gotcha' style="display:none")
            .row(class="50%")
              div(class="6u 12u(mobile)"): input(type="text" name="name" placeholder="Name")
              div(class="6u 12u(mobile)"): input(type="email" name="email" placeholder="Email")
            .row(class="50%")
              div(class="12u"): textarea(name="message" placeholder="Message" rows="6")
            .row
              div(class="12u")
                ul.actions
                  li: input(type="submit" value="Send Message")

    // Footer
    footer#footer
      ul.actions
        li: a(href="#" class="icon fa-twitter"): span(class="label") Twitter
        li: a(href="#" class="icon fa-facebook"): span(class="label") Facebook
        li: a(href="#" class="icon fa-google-plus"): span(class="label") Google+
        li: a(href="#" class="icon fa-dribbble"): span(class="label") Dribbble
        li: a(href="#" class="icon fa-pinterest"): span(class="label") Pinterest
        li: a(href="#" class="icon fa-instagram"): span(class="label") Instagram
      ul.menu
        li &copy; Ecuador Transport & Travel
        li 
          | Design &nbsp;
          a(href="http://html5up.net") HTML5 UP

    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.poptrox.min.js")
    script(src="assets/js/jquery.scrolly.min.js")
    script(src="assets/js/jquery.scrollex.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    <!--[if lte IE 8]>
    script(src="assets/js/ie/respond.min.js")
    <![endif]-->
    script(src="assets/js/main.js")
    script(src="application.js")

public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ecuador Transport & Travel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>#one p {
  font-size: inherit;
}

    </style><!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="application.css"><!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"><![endif]-->
  </head>
  <body>
    <header id="header">
      <h1 id="logo">Ecuador Transport & Travel</h1>
      <nav id="nav">
        <ul>
          <li><a href="#intro">Home</a></li>
          <li><a href="#one">About Us</a></li>
          <li><a href="#two">About Me</a></li>
          <li><a href="#work">Destinations</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <section id="intro" class="main style1 dark fullscreen">
      <div class="content container 75%">
        <header lang="en"><h2 id="ecuador-transport-travel">Ecuador Transport &amp; Travel</h2>
<p>Visitors will be amazed by the geographical diversity of this country. Ecuador
is a country of many geographical contrasts, extending from the beaches of the
Coast and high altitude of the Andes mountains to the rainforest of the
Amazon. Ecuador has much to offer: trekking, bird watching, horseback riding,
and a variety of exotic flora and fauna.  If you&#39;re a culture lover you can
shop for hand-woven textiles at local indigenous markets in Otavalo.</p>

        </header>
        <header lang="es"><h2 id="ecuador-transport-travel">Ecuador Transport &amp; Travel</h2>
<p>Visitors will be amazed by the geographical diversity of this country. Ecuador
is a country of many geographical contrasts, extending from the beaches of the
Coast and high altitude of the Andes mountains to the rainforest of the
Amazon. Ecuador has much to offer: trekking, bird watching, horseback riding,
and a variety of exotic flora and fauna.  If you&#39;re a culture lover you can
shop for hand-woven textiles at local indigenous markets in Otavalo.</p>

        </header>
        <footer><a href="#one" class="button style2 down">More</a></footer>
      </div>
    </section>
    <section id="one" class="main style2 right dark fullscreen">
      <div lang="en" class="content box style2"><h2 id="about-us">About Us</h2>
<p>We are a private Transportation company operating sice May 2012.  We have
modern vehicles equipped with air conditioning and comfortable
seats. Our goal is to provide a quality and safe
service with bilingual drivers. </p>
<p>We operate throughout the Ecuador: Coast, High Andes and Amazon. We provide
solutions for all of your Ecuador transportation needs. Our professional staff
can assist with all of the details of your trip. We can arrange activities to
organizing one full day trip or several days around Ecuador. We work with
individuals and groups of all sizes. </p>

      </div>
      <div lang="es" class="content box style2"><h2 id="about-us">About Us</h2>
<p>We are a private Transportation company operating sice May 2012.  We have
modern vehicles equipped with air conditioning and comfortable
seats. Our goal is to provide a quality and safe
service with bilingual drivers. </p>
<p>We operate throughout the Ecuador: Coast, High Andes and Amazon. We provide
solutions for all of your Ecuador transportation needs. Our professional staff
can assist with all of the details of your trip. We can arrange activities to
organizing one full day trip or several days around Ecuador. We work with
individuals and groups of all sizes. </p>

      </div><a href="#two" class="button style2 down anchored">Next</a>
    </section>
    <section id="two" class="main style2 left dark fullscreen">
      <div lang="en" class="content box style2"><h2 id="programs">Programs</h2>
<h3 id="program-1">Program 1</h3>
<ul>
<li>Quito - Mitad del Mundo - Otavalo</li>
<li>Otavalo Market - Peguche - Cuicocha - Cotacachi - Otavalo</li>
<li>Otavalo - San Pablo - Angochagua - Hacienda Zuleta</li>
<li>Hacienda Zuleta</li>
<li>Zuleta - Train to Salinas - Golondrinas Cloud Forest</li>
<li>Golondrinas Cloud Forest</li>
<li>Golondrinas Cloud Forest - Hacienda Pantavi - Hot Springs</li>
<li>Hacienda Pantavi - Quito</li>
</ul>
<h3 id="program-2">Program 2</h3>
<ul>
<li>Quito - Mitad del Mundo</li>
<li>Quito - Mindo</li>
<li>Mindo</li>
<li>Mindo - Quito</li>
<li>Quito - Parque National Cotopaxi by train - Baños</li>
<li>Baños</li>
<li>Baños - Misahualli</li>
<li>Misahualli - Jungle exploration</li>
<li>Jungle exploration - Misahualli</li>
<li>Misahualli - Quito</li>
</ul>
<h3 id="program-3">Program 3</h3>
<ul>
<li>Quito - Mitad del Mundo - Quito</li>
<li>Quito - Mindo</li>
<li>Mindo</li>
<li>Mindo - Canoa Beach</li>
<li>Canoa Beach</li>
<li>Canoa Beach - Puerto Lopez</li>
<li>Puerto Lopez</li>
<li>Puerto Lopez - Isla de la Plata</li>
<li>Isla de la Plata - Machalilla National Park</li>
<li>Machalilla - Montanita</li>
<li>Montanita</li>
<li>Montanita - Quito</li>
</ul>

      </div>
      <div lang="es" class="content box style2"><h2 id="programs">Programs</h2>
<h3 id="program-1">Program 1</h3>
<ul>
<li>Quito - Mitad del Mundo - Otavalo</li>
<li>Otavalo Market - Peguche - Cuicocha - Cotacachi - Otavalo</li>
<li>Otavalo - San Pablo - Angochagua - Hacienda Zuleta</li>
<li>Hacienda Zuleta</li>
<li>Zuleta - Train to Salinas - Golondrinas Cloud Forest</li>
<li>Golondrinas Cloud Forest</li>
<li>Golondrinas Cloud Forest - Hacienda Pantavi - Hot Springs</li>
<li>Hacienda Pantavi - Quito</li>
</ul>
<h3 id="program-2">Program 2</h3>
<ul>
<li>Quito - Mitad del Mundo</li>
<li>Quito - Mindo</li>
<li>Mindo</li>
<li>Mindo - Quito</li>
<li>Quito - Parque National Cotopaxi by train - Baños</li>
<li>Baños</li>
<li>Baños - Misahualli</li>
<li>Misahualli - Jungle exploration</li>
<li>Jungle exploration - Misahualli</li>
<li>Misahualli - Quito</li>
</ul>
<h3 id="program-3">Program 3</h3>
<ul>
<li>Quito - Mitad del Mundo - Quito</li>
<li>Quito - Mindo</li>
<li>Mindo</li>
<li>Mindo - Canoa Beach</li>
<li>Canoa Beach</li>
<li>Canoa Beach - Puerto Lopez</li>
<li>Puerto Lopez</li>
<li>Puerto Lopez - Isla de la Plata</li>
<li>Isla de la Plata - Machalilla National Park</li>
<li>Machalilla - Montanita</li>
<li>Montanita</li>
<li>Montanita - Quito</li>
</ul>

      </div><a id="work" href="#work" class="button style2 down anchored">Next</a>
    </section>
    <section id="work" class="main style3 primary">
      <div class="content container">
        <header lang="en"><h2 id="destinations">Destinations</h2>
<ul>
<li>Andean Mountains</li>
<li>Amazon Rain Forest</li>
<li>Pacific Coast</li>
<li>Cloud Forest</li>
<li>Bird Watching</li>
<li>Ecuador with Train</li>
</ul>

        </header>
        <header lang="es"><h2 id="destinations">Destinations</h2>
<ul>
<li>Andean Mountains</li>
<li>Amazon Rain Forest</li>
<li>Pacific Coast</li>
<li>Cloud Forest</li>
<li>Bird Watching</li>
<li>Ecuador with Train</li>
</ul>

        </header>
        <div class="container gallery 75%">
          <div class="row 0% images">
            <div class="6u 12u(mobile)"><a href="images/fulls/01.jpg" class="image fit from-left"><img src="images/thumbs/01.jpg" title="The Andes" alt=""></a></div>
            <div class="6u 12u(mobile)"><a href="images/fulls/02.jpg" class="image fit from-right"><img src="images/thumbs/02.jpg" title="The Amazon Rain Forest" alt=""></a></div>
          </div>
          <div class="row 0% images">
            <div class="6u 12u(mobile)"><a href="images/fulls/03.jpg" class="image fit from-left"><img src="images/thumbs/03.jpg" title="The Pacific Coast" alt=""></a></div>
            <div class="6u 12u(mobile)"><a href="images/fulls/04.jpg" class="image fit from-right"><img src="images/thumbs/04.jpg" title="Cloud Forest" alt=""></a></div>
          </div>
          <div class="row 0% images">
            <div class="6u 12u(mobile)"><a href="images/fulls/05.jpg" class="image fit from-left"><img src="images/thumbs/05.jpg" title="Bird Watching" alt=""></a></div>
            <div class="6u 12u(mobile)"><a href="images/fulls/06.jpg" class="image fit from-right"><img src="images/thumbs/06.jpg" title="Ecuador by Train" alt=""></a></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact-->
    <section id="contact" class="main style3 secondary">
      <div class="content container">
        <header>
          <h2>Say Hello.</h2>
          <p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.</p>
        </header>
        <div class="box container 75%">
          <form method="post" action="//formspree.io/jjbuckley@gmail.com">
            <input type="text" name="_gotcha" style="display:none">
            <div class="row 50%">
              <div class="6u 12u(mobile)">
                <input type="text" name="name" placeholder="Name">
              </div>
              <div class="6u 12u(mobile)">
                <input type="email" name="email" placeholder="Email">
              </div>
            </div>
            <div class="row 50%">
              <div class="12u">
                <textarea name="message" placeholder="Message" rows="6"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="12u">
                <ul class="actions">
                  <li>
                    <input type="submit" value="Send Message">
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer id="footer">
      <ul class="actions">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      </ul>
      <ul class="menu">
        <li>&copy; Ecuador Transport & Travel</li>
        <li>
           
          Design &nbsp;<a href="http://html5up.net">HTML5 UP</a>
        </li>
      </ul>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script><!--[if lte IE 8]>
    <script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script src="application.js"></script>
  </body>
</html>
